/* theme colors */
.header,.herosection,.footer {
    background-color: #1F2937;
    color: #F9FAF8
}


body{
 margin: 0px;
 padding: 0px;
 border: 0px;
} 


.header {

color: #F9FAF8;
display: flex;
flex:auto;
justify-content:space-around;
    

}

.logo {

font-size: 24px;
font-weight: bolder;
align-self: center;
margin: 12px;

}

.navmenu{
    display: flex;
    list-style-type: none;
    align-self: center;

}
.navmenu a{

    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
    margin: 10px;
    
}

.herosection {
    display: flex;
    justify-content: center;

}

.herotext{
    font-size: 48px;
    font-weight: bolder;

}

.herosubtext{

    width: 100px;
}
.heroimg {
max-width:fit-content;
max-height: 100px;

}

