html{
    font:robo;
}
body{
/* display: flex;
flex-direction: column; */
 margin: 0px;
 padding: 0px;
 border: 0px;

 background-color: #1F2937;
 border:none;
} 


.div {
     color: #F9FAF8; 
}
.header {
background-color: #1F2937;
color: #F9FAF8;
display: flex;
flex:auto;
    

}

.logo {

justify-self: left;
font-size: 24px;
font-weight: bolder;
align-self: center;
margin: 12px;

}

.navmenu{
    display: flex;
    list-style-type: none;
    align-self: center;
    margin-left: auto;
    margin-right: 50px;
}
.navmenu a{

    text-decoration: none;
    color:inherit;
    margin: 10px;
    
}